# ⚡ Optimized requirements for fastest Koyeb deployment
pyrofork>=2.0
pytz
motor
flask
aiohttp[speedups]
telethon
aiojobs
mutagen
yt-dlp[default]
requests[socks]
psutil
tgcrypto
werkzeug==2.2.2
aiofiles
opencv-python-headless
speedtest-cli
pymongo
cchardet
uvloop
